<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>TechSolutions</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <p class="--green-light">Tech</p><p class="--blue-dark">Soluctions</p>
            </div>
            <div class="menu">
                <a href="#">Serviços</a>
                <a href="#">Clientes</a>
                <a href="#">Contato</a>
                <button>
                    <a href="#">Entrar</a>
                </button>
            </div>
        </nav>
    </header>

    <section>
        <div class="introductions">
            <div class="info">
                <div class="contents">
                    <h1>Desenvolvimento de software especializado</h1>
                    <p>Traga o seu negócio para o digital, otimize suas vendas e aumente o seu lucro.</p>

                    <div class="buttons">
                        <a href="#">
                            <div class="start-now">Começar agora</div>
                        </a>

                        <a href="#">   
                            <div class="know-more">Saiba mais</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="imagem-info">
                <div class="background-color">
                    <img src="/img/Green_back_menu.png" alt="">
                </div>
                <div class="code_collaboration">
                    <img src="/img/Code_collaboration-white.png" alt="">
                </div>

            </div>
        </div>

        <div class="teams">
            <div class="image-teams">
                <img class="left" src="/img/Second_capsule.png" alt="">
                <img src="/img/Remote_ideation.png" alt="">
            </div>

            <div class="info-teams">
                <div class="block"> 
                    <img src="/img/before.png" alt="" class="before">
                    <h2>Equipe profissional e apaixonada pelo o que faz</h2>
                    <p>A nossa equipe é formada por prossionais extremamente renomados e capacitados, tudo isso para oferecer serviços de qualidade que atendam as necessiadades de nossos clientes.</p>
                    <img src="/img/after.png" alt="" class="after">
                </div>
            </div>
        </div>

        <div class="commitments">
            <div class="info-commitments">
                <div class="block"> 
                    <img src="/img/before.png" alt="" class="before">
                    <h2>Comprometidos com os melhores resultados</h2>
                    <p>Estamos sempre em busca de obter os melhores resultados possíveis para os nossos clientes, assegurando a qualidade de nossos serviços.</p>
                    <img src="/img/after.png" alt="" class="after">
                </div>
            </div>

            <div class="image-commitments">
                <img src="/img/Discuss_product_requirements.png" alt="">
            </div>            
        </div>

        <div class="satisfaction">
            <div class="image-satisfaction">
                <img src="/img/Take_a_Survey.png" alt="">
            </div>

            <div class="info-satisfaction">
                <div class="block"> 
                    <img src="/img/before.png" alt="" class="before">
                    <h2>A satisfação dos nossos clientes é o que nos move</h2>
                    <p>Propor as soluções ideais para as necessidades dos nossos clientes é o que almejamos, eles são o nossos foco.</p>
                    <img src="/img/after.png" alt="" class="after">
                </div>
            </div>
        </div>

        <div class="our-services">
            <h2>Nosso serviços</h2>
            <div class="group-services">         
                <div class="responsividade">
                    <img src="/img/Servicos-Group-1.png" alt="">
                    <h3>Responsividade</h3>
                    <p>Os nossos sistemas são 100% responsivos, ou seja, se adapatam a qualquer tipo de tela.</p>
                </div>

                <div class="performace">
                    <img src="/img/Servicos-Group-2.png" alt="">
                    <h3>Performance</h3>
                    <p>Os nossos sistemas são estruturados de maneira otimizada e garante perfomance de alto nível.</p>
                </div>

                <div class="organization">
                    <img src="/img/Servicos-Group-3.png" alt="">
                    <h3>Otimização para SEO</h3>
                    <p>Otimização de ponta para mecanismos de busca, garantindo uma ótima indexação na web.</p>
                </div>
                </div>          
            </div>
        </div>

        <div class="prices">
            <h2>Preços</h2>
            <div class="group-prices">         
                <div class="starter">
                    <img src="/img/Bicycle.png" alt="">
                    <h3>Starter</h3>
                    <h3 class="value">R$ 500,00</h3>
                    <p>1 sistema web ou mobile</p>
                    <p>5 páginas no máximo</p>
                    <p>Suporte 12 horas p/dia</p>
                    <button>Contratar</button>
                </div>

                <div class="epic">
                    <img src="/img/Rocket.png" alt="">
                    <h3>Epic</h3>
                    <h3 class="value">R$ 5.000,00</h3>
                    <p>10 sistemas web ou mobile</p>
                    <p>50 páginas no máximo</p>
                    <p>Suporte 24 horas p/dia</p>
                    <p>Mais de 30 linguagens disponíveis</p>
                    <button>Contratar</button>
                </div>

                <div class="pro">
                    <img src="/img/Car.png" alt="">
                    <h3>Pro</h3>
                    <h3 class="value">R$ 2.000,00</h3>
                    <p>5 sistemas web ou mobile</p>
                    <p>20 páginas no máximo</p>
                    <p>Suporte 24 horas p/dia</p>
                    <button>Contratar</button>
                </div>
                </div>          
            </div>
        </div> 

        <div class="testimonies">
            <nav>
                <h3>Testemunhos</h3>
                <div class="arrows">
                    <img src="/img/Arrow_Left.png" alt="">
                    <img src="/img/Arrow_Right.png" alt="">
                </div>
            </nav>
            <div class="info">
                <div class="card">
                    <img src="/img/Face_1.png" alt="">
                    <h4>John Snow</h4>
                    <p>
                        <img src="/img/Left_Quote.png" alt="">
                        Empresa muito competente ! Sempre pensando na qualidade e na satisfação de seus clientes, recomendo muito !
                        <img src="/img/Right_Quote.png" alt="">
                    </p>
                    <div class="classification">
                        <img src="/img/Star_Full.png" alt="">
                        <img src="/img/Star_Full.png" alt="">
                        <img src="/img/Star_Full.png" alt="">
                        <img src="/img/Star_Full.png" alt="">
                        <img src="/img/Star_Full.png" alt="">
                    </div>
                </div>
            </div>


        </div>
    </section>

</body>
</html>