

* {
    margin: 0;
    border: 0;
    padding: 0;
}

:root {
    --title: 'Poppins', sans-serif;
    --subtitle: 'Lato', sans-serif;
    --green-light: #06D6A0;
    --green-dark: #2A9D8F;
    --blue--light: #EAE8FF;
    --blue-dark: #2A4747;
    --grey: #999999;
}

.--green-light{ color: #06D6A0;}
.--green-dark { color: #2A9D8F;}
.--blue--light { color: #EAE8FF;}
.--blue-dark { color: #2A4747;}

html {
    font-size: 62.5%;
    color: var(--blue-dark);
    font-family: var(--subtitle);
}

@media (max-width: 1440px) {
    html {
        font-size: 0.694445vw;
    }
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

header nav {
    width: 100%;
    height: 15rem;
    padding: 0 9.2rem 0 8rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: absolute;
}

header nav .logo p {
    font-size: 3.6rem;
    font-weight: 600;
    font-family: var(--title);
    display: inline-block;
}

header nav .menu {
    width: 44rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .menu a {
    color: var(--blue--light);
    font-family: var(--subtitle);
    font-size: 1.8rem;
    line-height: 4rem;
    font-weight: 600;
    text-align: left;
    margin-right: 3rem;
    text-decoration: none;
    opacity: 0.9;
}
header nav .menu a:hover {
    transition: 300ms;
    opacity: 1;
    font-weight: 700;
    color: #FFF;
    text-shadow: 0 0 0.3rem var(--blue--light);
}
header nav .menu button {
    width: 15rem;
    height: 4rem;
    background-color: var(--green-light);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    cursor: pointer;
}
header nav .menu button a {
    margin: 0 auto;
    text-decoration: none;
}
header nav .menu button:hover {
    transition: 300ms;
    opacity: 1;
    color: #FFF;
    text-shadow: 0 0 0.3rem var(--green-light);
}
header nav .menu button:hover a {
opacity: 1;
font-weight: 700;
text-shadow: 0 0 0.3rem var(--blue--light);
}

.introductions {
    width: 100%;
    height: 71.5rem;
    display: grid;
    grid-template-columns: 41.11% 58.89%;
    overflow: hidden;
}
.introductions .info {
    width: 100%;
    display: flex;
    align-items: center;
}
.introductions .imagem-info {
    width: 100%;
}

.introductions .info .contents {
    width: 49.3rem;
    margin-left: 8rem;
}
.introductions .info .contents h1 {
    width: 100%;
    font-family: var(--title);
    font-size: 4rem;
    font-weight: 700;
}
.introductions .info .contents p {
    color: var(--grey);
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
    margin: 2rem auto 2.5rem
}
.introductions .info .contents .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.introductions .info .contents .buttons a,
.introductions .info .contents .buttons a {
    text-decoration: none;
    opacity: 0.8;
    border-radius: 1rem;

}
.introductions .info .contents .buttons a .start-now,
.introductions .info .contents .buttons a .know-more {
    font-size: 2.4rem;
    font-weight: 600;
    width: 23rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 0.1rem solid var(--green-light);
    box-shadow: -0.4rem 0.4rem 0.25rem rgba(6, 214, 160, 0.15);
}
.introductions .info .contents .buttons a .start-now {
    background-color: var(--green-light);
    color: var(--blue--light);
}
.introductions .info .contents .buttons a .start-now:hover {
    color: #FFF;
    transition: 300ms;
}

.introductions .info .contents .buttons a .know-more {
    background-color: #FFF;
    color: var(--green-light);
}

.introductions .info .contents .buttons a:hover {
    transition: 300ms;
    opacity: 1;
    box-shadow: 0 0 0.6rem rgba(6, 214, 160, 0.7);
    transition: 300ms;
} 


.introductions .imagem-info {
    position: relative;
}
.introductions .imagem-info .background-color img {
    width: 97.504rem;
    height: 82rem;
    position: absolute;
    top: -10.5rem;
}
.introductions .imagem-info .code_collaboration img {
    width: 79.2rem;
    height: 58rem;
    position: absolute;
    display: flex;
    left: 11.5rem;
    bottom: 6rem;
}

.teams,
.satisfaction {
    display: grid;
    grid-template-columns: 55% 45%;
    overflow: hidden;
}
.teams .image-teams,
.commitments .image-commitments,
.satisfaction .image-satisfaction {
    position: relative;
}
.teams .image-teams .left {
    width: 80rem;
    height: 80rem;
    position: absolute;
    top: -22.1rem;
    left: -62.4rem;
}
.teams .image-teams img,
.commitments .image-commitments img,
.satisfaction .image-satisfaction img {
    width: 79.2rem;
    height: 58rem;
}

.teams .info-teams,
.satisfaction .info-satisfaction {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.teams .info-teams .block,
.commitments .info-commitments .block,
.satisfaction .info-satisfaction .block {
    padding: 1.3rem 2.5rem;
    position: relative;
}

.before {
    width: 5rem;
    height: 5rem;
    top: 0;
    left: 0;
    position: absolute;
}
.after {
    width: 5rem;
    height: 5rem;
    bottom: 0;
    right: 0;
    position: absolute;
}

.teams .info-teams .block h2,
.commitments .info-commitments .block h2,
.satisfaction .info-satisfaction .block h2 {
    font-size: 3.6rem;
    font-family: var(--title);
    font-weight: 600;
    width: 49.3rem;
    height: 9.8rem;
    margin-bottom: 2.3rem;
}
.teams .info-teams .block p,
.commitments .info-commitments .block p,
.satisfaction .info-satisfaction .block p {
    font-size: 1.8rem;
    font-weight: 500;
    width: 48.4rem;
    height: 7.2rem;
}

.commitments {
    display: grid;
    grid-template-columns: 45% 55%;
    overflow: hidden;
}

.commitments .info-commitments {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.our-services {
    width: 119.6rem;
    max-width: 1196px;
    margin: 0 auto;
    display: block;
}
.our-services h2 {
    font-size: 4rem;
    font-weight: 600;
    width: 27rem;
    margin: 0 auto;
    position: relative;
}
.our-services h2::before {
    content: '';
    position: absolute;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--green-light);
    bottom: -2.5rem;
    left: 10rem;
}
.our-services .group-services {
    margin: 9.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7rem;
}

.our-services .group-services .responsividade,
.our-services .group-services .performace,
.our-services .group-services .organization {
    width: 35rem;
    height: 35rem;
    border-radius: 3rem;
    text-align: center;
    box-shadow: -0.4rem 0.4rem 2.5rem rgba(6, 214, 160, 0.25);
    cursor: pointer;
}
.our-services .group-services .responsividade:hover,
.our-services .group-services .performace:hover,
.our-services .group-services .organization:hover {
    transition: 300ms;
    box-shadow: -0.4rem 0.4rem 2.5rem rgba(6, 214, 160, 0.75);
    transition: 300ms;
}

.our-services .group-services .responsividade img {
    width: 15rem;
    height: 10rem;
    margin: 5.6rem auto 1.5rem;
}
.our-services .group-services .performace img,
.our-services .group-services .organization img {
    width: 10rem;
    height: 10rem;
    margin: 5.6rem auto 1.5rem;
}

.our-services .group-services .responsividade h3,
.our-services .group-services .performace h3,
.our-services .group-services .organization h3 {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: left;
    color: var(--green-light);
    margin: 0 3.2rem 1.5rem;

}
.our-services .group-services .responsividade p,
.our-services .group-services .performace p,
.our-services .group-services .organization p {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
    color: var(--blue-dark);
    width: 25rem;
    margin: 0 3.2rem 5.6rem;
}

.prices {
    width: 119.6rem;
    max-width: 1196px;
    margin: 0 auto;
    display: block;
}
.prices h2 {
    font-size: 4rem;
    font-weight: 600;
    width: 13rem;
    margin: 0 auto;
    position: relative;
}
.prices h2::before {
    content: '';
    position: absolute;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--green-light);
    bottom: -2.5rem;
    left: 4rem;
}
.prices .group-prices {
    margin: 9.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    align-items: center;
}
.prices .group-prices .starter,
.prices .group-prices .pro {
    width: 35rem;
    height: 50rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--green-light);
    box-shadow: -0.4rem 0.4rem 2.5rem rgba(6, 214, 160, 0.25);
    text-align: center;
}
.prices .group-prices .starter:hover,
.prices .group-prices .pro:hover {
    box-shadow: -0.4rem 0.4rem 2.5rem rgba(6, 214, 160, 0.75);
    transition: 300ms;
}
.prices .group-prices .starter img,
.prices .group-prices .pro img {
    width: 8rem;
    height: 8rem;
    margin: 4.2rem auto 1.4rem;
}
.prices .group-prices .starter h3,
.prices .group-prices .pro h3 {
    font-size: 3.6rem;
    font-family: var(--title);
    line-height: 5.4rem;
    font-weight: 600;
    color: var(--blue-dark);
}
.prices .group-prices .starter .value,
.prices .group-prices .pro .value {
    color: var(--green-light);
    font-family: var(--subtitle);
    margin-bottom: 2.5rem;
}
.prices .group-prices .starter p,
.prices .group-prices .pro p {
    width: 27.2rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: initial;
    line-height: 2.8rem;
    color: var(--grey);
    margin: 0 auto 1rem;
}
.prices .group-prices .starter button,
.prices .group-prices .pro button {
    width: 27.2rem;
    height: 5rem;
    border-radius: 1rem;
    color: var(--blue--light);
    font-size: 2.4rem;
    font-weight: 400;
    background-color: var(--green-light);
    box-shadow: -0.4rem 0.4rem 2rem rgba(42, 157, 143, 0.25);
    margin-top: 4.6rem;
    opacity: 0.8;
}
.prices .group-prices .starter button:hover,
.prices .group-prices .pro button:hover {
    opacity: 1;
    color: #FFF;
    transition: 300ms;
    cursor: pointer;
}
.prices .group-prices .epic {
    width: 40rem;
    height: 60rem;
    border-radius: 2rem;
    background-color: var(--green-light);
    border: 0.1rem solid var(--green-light);
    box-shadow: -0.4rem 0.4rem 2.5rem rgba(6, 214, 160, 0.25);
    text-align: center;
}
.prices .group-prices .epic:hover {
    box-shadow: -0.4rem 0.4rem 2.5rem rgba(6, 214, 160, 0.75);
    transition: 300ms;
}
.prices .group-prices .epic img {
    width: 10rem;
    height: 10rem;
    margin: 5rem auto 4.5rem;
}
.prices .group-prices .epic h3 {
    font-size: 3.6rem;
    font-family: var(--title);
    line-height: 5.4rem;
    font-weight: 600;
    color: #FFF;
}
.prices .group-prices .epic h3 + h3 {
    margin-bottom: 2.5rem;
}
.prices .group-prices .epic p {
    width: 27.2rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: initial;
    line-height: 2.8rem;
    color: #EAE8FF;
    margin: 0 auto 1rem;
}
.prices .group-prices .epic button {
    width: 27.2rem;
    height: 5rem;
    border-radius: 1rem;
    color: var(--blue--light);
    font-size: 2.4rem;
    font-weight: 400;
    background-color: var(--blue-dark);
    box-shadow: -0.4rem 0.4rem 2rem rgba(42, 157, 143, 0.25);
    margin-top: 4.8rem;
    opacity: 0.8;
}
.prices .group-prices .epic button:hover {
    opacity: 1;
    color: #FFF;
    transition: 300ms;
    cursor: pointer;
}

.testimonies {
    width: 119.6rem;
    max-width: 1196px;
    margin: 0 auto;
    display: block;
}
.testimonies nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonies nav h3 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--blue-dark);
    position: relative;
}
.testimonies nav h3::before {
    content: '';
    position: absolute;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--green-light);
    bottom: -2.5rem;
}
.testimonies nav .arrows {
    display: flex;
    gap: 2.2rem
}
.testimonies nav .arrows img {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.testimonies .info {
    width: 119.6rem;
    max-width: 1196px;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.2rem;
}
.testimonies .info .card {
    width: 35rem;
    height: 35rem;
    border-radius: 3rem;
    text-align: center;
    box-shadow: -0.4rem 0.4rem 2.5rem rgba(6, 214, 160, 0.25);
}
.testimonies .info .card .face {
    width: 10rem;
    height: 10rem;
    margin: 2.7rem auto 2.2rem;
}
.testimonies .info .card h4 {
    font-size: 2.4rem;
    color: var(--blue-dark);
    text-align: initial;
    width: 27.5rem;
    margin: 0 auto;
}
.testimonies .info .card p {
    font-size: 1.4rem;
    text-align: initial;
    font-style: italic;
    width: 29.3rem;
    margin: 3.2rem auto 2.4rem;
    position: relative;
}
.testimonies .info .card p .left {
    position: absolute;
    top: -1rem; 
    left: -2rem;
}
.testimonies .info .card p .right {
    position: absolute;
    bottom: -1rem; 
    right: -2rem;
}
.testimonies .info .card .classification {
    width: 15.2rem;
    margin-left: 2.6rem;
    display: flex;
    justify-content: space-between;
}

.contact_us h2 {
    font-size: 4rem;
    font-weight: 600;
    width: 24rem;
    margin: 0 auto;
    position: relative;
}
.contact_us h2::before {
    content: '';
    position: absolute;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--green-light);
    bottom: -2.5rem;
    left: 10rem;
}
.contact_us .contents{
    display: grid;
    grid-template-columns: 45% 55%;
    overflow: hidden;
    margin: 10rem auto;
    align-items: center;
}
.contact_us .contents form {
    width: 53rem;
    height: 45rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--green-light);
    box-shadow: -0.4rem 0.4rem 2.5rem rgba(6, 214, 160, 0.25);
}
.contact_us .contents form .information {
    width: 43.5rem;
    margin: 8.5rem auto 4.6rem;
}
.contact_us .contents form .information input {
    display: block;
    width: 100%;
    height: 2.2rem;
    outline: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--blue-dark);
}
.contact_us .contents form .information input::placeholder {
    color: var(--grey);
}

.contact_us .contents form .information .name,
.contact_us .contents form .information .email,
.contact_us .contents form .information .message {
    display: flex;
    align-items: center;
    position: relative;
}
.contact_us .contents form .information .email,
.contact_us .contents form .information .message {
    margin-top: 6rem;
}
.contact_us .contents form .information .name::before,
.contact_us .contents form .information .email::before,
.contact_us .contents form .information .message::before {
    content: '';
    width: 100%;
    height: 0.2rem;
    background-color: var(--green-light);
    bottom: -0.9rem;
    position: absolute;
}

.contact_us .contents form .information img {
    width: 2rem;
    height: 2rem;
    margin-right: 2.8rem;
}

.contact_us .contents form button {
    width: 18rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: var(--green-light);
    box-shadow: -0.4rem 0.4rem 2.5rem rgba(6, 214, 160, 0.25);
    color: var(--blue--light);
    font-size: 2.4rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: 4.8rem;
}
.contact_us .contents form button:hover {
    color: #FFF;
}

footer {
    position: relative;
    text-align: center;
}
/* footer .footer_background_image {
} */
footer nav {
    width: 102.6rem;
    margin: -22.2rem auto 1.8rem;
}
footer nav .userful_links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 4rem;
}
footer nav .userful_links .targets {
    text-align: initial;
}
footer nav .userful_links .targets h4 {
    font-size: 2.4rem;
    font-family: var(--title);
    color: var(--blue--light);
    margin-bottom: 0.8rem;
}
footer nav .userful_links .targets a {
    font-size: 1.8rem;
    color: var(--blue--light);
    display: block;
    cursor: pointer;
}
footer nav .userful_links .targets a:hover {
    color: #FFF;
}

footer nav .social_medias {
    width: 29rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}
footer nav .social_medias img {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}